<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="../../../../css/login.css" />
    <link rel="stylesheet" href="../../../../css/all.min.css" />
    <link rel="stylesheet" href="../../../../css/normalize.css" />
    <link rel="stylesheet" href="../../../../css/admin.css" />
    <link rel="icon" href="../../../../Untitled-1 (2).icon">
  </head>
  <body>
    <div class="admin" id="height">
        <div style="flex: 4;">
      <div style="height: fit-content;" class="org form">
        <p style="width: 90%; padding: 10px;color: white;">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis voluptatem, aspernatur voluptate perspiciatis, molestiae magnam dolor maiores cumque quia alias totam consequatur eligendi, incidunt sit enim error quaerat modi? Aut.
        </p>
      </div>
      <div style="height: fit-content;" class="org form">
        <p style="width: 90%; padding: 10px;color: white;">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis voluptatem, aspernatur voluptate perspiciatis, molestiae magnam dolor maiores cumque quia alias totam consequatur eligendi, incidunt sit enim error quaerat modi? Aut.
        </p>
      </div>
    </div>
      <div class="chose">
        <ul>
          <li><a href="../setting.html">Setting</a></li>
        </ul>
      </div>
      <button
        style="
          z-index: 9999;
          position: fixed;
          background-color: white;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          right: 50px;
          bottom: 50px;
          display: flex;
          transition: 0.5s all ease;
          align-items: center;
          justify-content: center;
        "
        onclick="topFunction()"
        id="myBtn"
        title="Go to top"
      >
        <i style="font-size: 25px" class="fa-solid fa-arrow-up"></i>
      </button>
    </div>
    <script src="../../../../js/style.js"></script>
  </body>
</html>
