<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="../../../../css/student.css" />
    <link rel="stylesheet" href="../../../../css/all.min.css" />
    <link rel="stylesheet" href="../../../../css/normalize.css" />
    <link rel="stylesheet" href="../../../../css/admin.css" />
    <link rel="icon" href="../../../../Untitled-1 (2).icon">
    <style>
        label{
            color: white;
            font-size: 30;
            font-weight: bold;
        }
    </style>
  </head>
  <body>
    <div class="admin">
        
      <div class="org form">
        <form action="">
            <label for="from">From</label>
            <input id="from" name="from" type="date">
            <label for="to">To</label>
            <input id="to" name="to" type="date">
            <input type="submit">
        </form>
      </div>
      <div class="chose">
        <ul>
          <li><a href="setting">Setting</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
