<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doctor</title>
    <link rel="stylesheet" href="../../../css/admin.css" />
    <link rel="stylesheet" href="../../../css/student.css" />
    <link rel="stylesheet" href="../../../css/all.min.css" />
    <link rel="stylesheet" href="../../../css/normalize.css" />
    <link rel="icon" href="../../../Untitled-1 (2).icon">
    <style>
        input{
            width: 90%;
            background-color: #eee;
        }
    </style>
  </head>
  <body>
    <div class="student" id="height">
      <div class="info">
        <div class="icon">
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="">
          <p>Name: <span>D/</span></p>
          <p>Age: <span>50</span></p>
          <p>Fuclty: <span>MU</span></p>
          <p>College: <span>FCI</span></p>
          <p>Address: <span>Birket El-Sab`, Al Minufiyah, Egypt</span></p>
          <p>National ID: <span>3000000000000</span></p>
          <p>Phone Num: <span>0123456789</span></p>
          <p>Gender: <span>male</span></p>
        </div>
      </div>
      <div class="come">
        <div class="org form">
            <form action="/user/doctor/addMatrial" method="post">
                <input type="text" name="nameOfSheet" placeholder="Name of Sheet">
                <input style="width: max-content; height: max-content;" name="pdf" type="file" id="upload">
                <input type="submit">
            </form>
          </div>
      </div>
      <div class="chose">
        <ul>
          <li><a href="../doctor">Subjects</a></li>
          <li><a href="avilabalSUBd">Available subjects</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
