<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="../../../css/student.css" />
    <link rel="stylesheet" href="../../../css/all.min.css" />
    <link rel="stylesheet" href="../../../css/normalize.css" />
    <link rel="stylesheet" href="../../../css/admin.css" />
    <link rel="icon" href="../../../Untitled-1 (2).icon">

  </head>
  <body>
    <div class="admin" id="height">
      <div class="org">
        <input class="search" name="search" placeholder="Search" type="search">
        <table>
            <thead>
              <tr>
                <td>Level 1</td>
                <td>Level 2</td>
                <td>Level 3</td>
                <td>Level 4</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><p>ID</p> <a href="STUsubj.html">sub1</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub2</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub3</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub4</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
              </tr>
              <tr>
                <td><p>ID</p> <a href="STUsubj.html">sub1</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub2</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub3</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub4</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
              </tr>
              <tr>
                <td><p>ID</p> <a href="STUsubj.html">sub1</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub2</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub3</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub4</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
              </tr>
              <tr>
                <td><p>ID</p> <a href="STUsubj.html">sub1</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub2</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub3</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub4</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
              </tr>
              <tr>
                <td><p>ID</p> <a href="STUsubj.html">sub1</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub2</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub3</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub4</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
              </tr>
              <tr>
                <td><p>ID</p> <a href="STUsubj.html">sub1</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub2</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub3</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub4</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
              </tr>
              <tr>
                <td><p>ID</p> <a href="STUsubj.html">sub1</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub2</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub3</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub4</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
              </tr>
              <tr>
                <td><p>ID</p> <a href="STUsubj.html">sub1</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub2</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub3</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
                <td><p>ID</p> <a href="STUsubj.html">sub4</a> <p>depart</p> <P>Doctor</P> <button>Delete</button></td>
              </tr>
            </tbody>
        </table>
    </div>
      <div class="chose">
        <ul>
          <li><a href="../../admin.html">Add</a></li>
          <li><a href="allsubjects.html">Subjects</a></li>
          <li><a href="allStudents.html">Students</a></li>
          <li><a href="alldoctors.html">Doctors</a></li>
          <li><a href="setting.html">Setting</a></li>
        </ul>
      </div>
      <button
        style="
          z-index: 9999;
          position: fixed;
          background-color: white;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          right: 50px;
          bottom: 50px;
          display: flex;
          transition: 0.5s all ease;
          align-items: center;
          justify-content: center;
        "
        onclick="topFunction()"
        id="myBtn"
        title="Go to top"
      >
        <i style="font-size: 25px" class="fa-solid fa-arrow-up"></i>
      </button>
    </div>
    <script src="../../../js/style.js"></script>
  </body>
</html>
