<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="../../../css/student.css" />
    <link rel="stylesheet" href="../../../css/all.min.css" />
    <link rel="stylesheet" href="../../../css/normalize.css" />
    <link rel="stylesheet" href="../../../css/admin.css" />
    <link rel="icon" href="../../../Untitled-1 (2).icon">
  </head>
  <body>
    <div class="admin">
        <div class="org">
            <ul>
            <li><a href="setting/supportA.html">Support</a></li>
            <li><a href="setting/timeR.html">The time of registration</a></li>
          </ul>
    </div>
      <div class="chose">
        <ul>
          <li><a href="../../admin.html">Add</a></li>
          <li><a href="allsubjects.html">Subjects</a></li>
          <li><a href="allStudents.html">Students</a></li>
          <li><a href="alldoctors.html">Doctors</a></li>
          <li><a href="#">Setting</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
