<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doctor</title>
    <link rel="stylesheet" href="../../css/admin.css" />
    <link rel="stylesheet" href="../../css/student.css" />
    <link rel="stylesheet" href="../../css/all.min.css" />
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="icon" href="../../Untitled-1 (2).icon">
  </head>
  <body>
    <div class="student" id="height">
      <div class="info">
        <div class="icon">
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="">
          <p>Name: <span>D/</span></p>
          <p>Age: <span>50</span></p>
          <p>Fuclty: <span>MU</span></p>
          <p>College: <span>FCI</span></p>
          <p>Address: <span>Birket El-Sab`, Al Minufiyah, Egypt</span></p>
          <p>National ID: <span>3000000000000</span></p>
          <p>Phone Num: <span>0123456789</span></p>
          <p>Gender: <span>male</span></p>
        </div>
      </div>
      <div class="come"> 
        <table>
        <thead>
          <tr>
            <td>Level 1</td>
            <td>Level 2</td>
            <td>Level 3</td>
            <td>Level 4</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p>ID</p> <a href="branshPages/doctor/STUsubD.html">sub1</a> <p>depart</p></td>
            <td><p>ID</p> <a href="branshPages/doctor/STUsubD.html">sub2</a> <p>depart</p></td>
            <td><p>ID</p> <a href="branshPages/doctor/STUsubD.html">sub3</a> <p>depart</p></td>
            <td><p>ID</p> <a href="branshPages/doctor/STUsubD.html">sub4</a> <p>depart</p></td>
          </tr>
          <tr>
            <td><p>ID</p> <a href="branshPages/doctor/STUsubD.html">sub1</a> <p>depart</p></td>
            <td><p>ID</p> <a href="branshPages/doctor/STUsubD.html">sub2</a> <p>depart</p></td>
            <td><p>ID</p> <a href="branshPages/doctor/STUsubD.html">sub3</a> <p>depart</p></td>
            <td><p>ID</p> <a href="branshPages/doctor/STUsubD.html">sub4</a> <p>depart</p></td>
          </tr>
        </tbody>
    </table>
  </div>
      <div class="chose">
        <ul>
          <li><a href="doctor.html">Subjects</a></li>
          <li><a href="branshPages/doctor/avilabalSUBd.html">Available subjects</a></li>
        </ul>
      </div>
      <button
      style="
        z-index: 9999;
        position: fixed;
        background-color: white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        right: 50px;
        bottom: 50px;
        display: flex;
        transition: 0.5s all ease;
        align-items: center;
        justify-content: center;
      "
      onclick="topFunction()"
      id="myBtn"
      title="Go to top"
    >
      <i style="font-size: 25px" class="fa-solid fa-arrow-up"></i>
    </button>
    </div>
    <script src="../../js/style.js"></script>
  </body>
</html>
